html, body{
  margin: 0;
  padding: 0;
}

body{
  width: 400px;
  font-family: monospace;
}

.box-header{
  background-color: #696969;
  text-align: center;
  height: 70px;
  width: 100%;
}

.box{
  width: 50%;
  float: left;
  display: inline-block;
  text-align: center;
}

img{
  width: 50%;
  padding-top: 25%;
}

.title{
  padding-top: 6%;
  font-size: 15pt;
  font-weight: bold;
  color: #ffffff;
}

a{
  text-decoration: none;
  font-size: 11pt;
  font-weight: bold;
  color: #696969;
}
